@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --dark-primary-color: rgb(13, 71, 161);
  --primary-color: rgb(41, 98, 255);
  --light-primary-color: rgb(187, 222, 251);
  --secondary-color: rgb(245, 0, 87);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --background-color: rgb(238, 238, 238);

  --border-1-color: rgba(55, 71, 79, 0.38);
  --border-2-color: rgba(55, 71, 79, 0.6);
  --border-3-color: rgba(55, 71, 79, 0.87);
}

* {
  font-family: 'Lato', sans-serif;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}
